$section-head: 58px;
$scroll-bar-width: 10px;

.app-container{
  width: 100vw;
  height: 100vh;
  display: flex;
}

.search-section {
  width: 25%;
  height: 100%;
}

.cart-section {
  background-color: green;
  width: 25%;
  height: 100%;
}

.outcome-section {
  background-color: yellow;
  width: 50%;
  height: 100%;
}

.search-bar-container {
  padding: 10px;
  height: $section-head;
  position: relative;
  z-index: 1;
}

.search-bar {
  border-radius: 19px;
}

.search-results-wrapper {
  height: 100%;
  position: relative;
  top: -$section-head;
  padding-top: $section-head;
}

.search-results-container {
  height: 100%;
  overflow: hidden;
  width: 100%;
  padding-right: $scroll-bar-width;
}

.search-results-container:hover {
  overflow-y: scroll;
  padding-right: 0px;
}

.load-more-button {
  display: block;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: $scroll-bar-width;
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

.search-result {
  display: flex;
  cursor: pointer;
  padding: 6px 0px 6px 10px;
  border-bottom: 1px solid #DDD;
}

.search-result:hover {
  background-color: #EEE;
}

.search-result-check-container {
  display: flex;
  align-items: center;
}

.search-result-check {
  cursor: pointer;
  margin-right: 5px;
  width: 18px;
  height: 18px;
}

.search-result-brand {
  color: #888;
  margin-left: 5px;
}