$section-head: 58px;
$scroll-bar-width: 10px;

.app-container{
  background-color: red;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.search-section {
  background-color: blue;
  width: 25%;
  height: 100%;
}

.cart-section {
  background-color: green;
  width: 25%;
  height: 100%;
}

.outcome-section {
  background-color: yellow;
  width: 50%;
  height: 100%;
}

.search-bar-container {
  padding: 10px;
  background-color: orange;
  height: $section-head;
}

.search-results-wrapper {
  height: 100%;
  position: relative;
  top: -$section-head;
  padding-top: $section-head;
}

.search-results-container {
  height: 100%;
  overflow: hidden;
  width: 100%;
  padding-right: $scroll-bar-width;
}

.search-results-container:hover {
  overflow-y: scroll;
  padding-right: 0px;
}

.search-bar {
  background-color: aqua;
}

.load-more-button {
  display: block;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: $scroll-bar-width;
}

::-webkit-scrollbar-thumb {
  background: #888; 
}