$section-head: 58px;
$scroll-bar-width: 10px;

.app-container{
  width: 100vw;
  height: 100vh;
  display: flex;
}

.search-section {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cart-section {
  background-color: green;
  width: 25%;
  height: 100%;
}

.outcome-section {
  background-color: yellow;
  width: 50%;
  height: 100%;
}

.search-bar-container {
  padding: 10px;
  height: $section-head;
  /*position: relative;
  z-index: 1;*/
}

.search-bar {
  border-radius: 19px;
}

.search-results-container {
  height: calc(100% - #{$section-head});
  overflow-x: hidden;
  padding-right: 10px;
}

.load-more-button {
  display: block;
  margin: 20px auto;
}

.search-result {
  display: flex;
  cursor: pointer;
  padding: 6px 0px 6px 10px;
  border-bottom: 1px solid #DDD;
}

.search-result:hover {
  background-color: #EEE;
}

.search-result-check-container {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.custom-check-box {
  position: relative;
  width: 19px;
  height: 19px;
  border-radius: 5px;
  border: 1px solid #888;
  background-color: white;
}

.checked::after {
  transform: rotate(45deg);
  position: absolute;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #888;
  border-width: 0 2px 2px 0;
  content: "";
}

.search-result-brand {
  color: #888;
  margin-left: 5px;
  font-size: 12px;
}

.simplebar-scrollbar:before {
  border-radius: 0px;
  left: 0;
  right: 0;
  transition: none;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 10px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
}